/* Colors: */
$unnamed-color-fffdf5: #FFFDF5;
$unnamed-color-ffffff: #FFFFFF;
$unnamed-color-065a60: #065A60;
$unnamed-color-002c13: #002C13;

/* Font/text values */
$unnamed-font-family-cochin: Cochin;
$unnamed-font-family-futura-pt: Futura PT;
$unnamed-font-style-normal: normal;
$unnamed-font-weight-normal: normal;
$unnamed-font-size-14: 14px;
$unnamed-font-size-24: 24px;
$unnamed-font-size-25: 25px;
$unnamed-font-size-61: 61px;
$unnamed-character-spacing-0: 0px;
$unnamed-line-spacing-18: 18px;
$unnamed-line-spacing-28: 28px;
$unnamed-line-spacing-33: 33px;
$unnamed-line-spacing-70: 70px;